@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}
.float-animation {
  animation: float 2s ease-out;
  animation-fill-mode: forwards; /* Ensures the animation does not reset */
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bg-gradient-main {
  background: linear-gradient(to top, #203A43, #0F2027);
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(39, 159, 182, 0) 100%);
}

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2C5364 0%, rgba(250, 214, 92, 0) 60%);
}